################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Sitecore.Google.Analytics/bin
/Sitecore.Google.Analytics/obj/Debug
